{% extends 'template.html.twig' %}

{% block content %}

    <!-- chargement des news -->
    {% for new in news %}
        <div class="row indexNewsList">
            <div class="col-sm-10 offset-sm-1 card">
                <div class="card-header">
                    <div class="row">
                        <h4 class="col-sm-10">{{ new.nomEvenement }}</h4>
                        <h4 class="col-sm-2 text-muted newsDate"> {{ new.datePublication }}</h4>
                    </div>
                </div>
                <div class="card-body">
                    <p class="card-text">{{ new.description }}
                    </p>
                    <a href="#" class="offset-sm-10 btn btn-primary">En savoir plus</a>
                </div>
            </div>
        </div>

    {% endfor %}


    <!--Pagination -->

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">

            <!-- next -->
            {% if currentPage <= 1 %}
            <li class="page-item disabled">
            {% else %}
            <li class="page-item">
            {% endif %}
                <a class="page-link" href="?page={{ currentPage-1 }}">Previous</a>
            </li>

            <!--Pagination Button-->
            {% for i in 1..pageAmt %}

                {% if i == currentPage %}
                    <li class="page-item active"><a class="page-link" href="?page={{ i }}">{{ i }}</a>
                    </li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a>
                    </li>
                {% endif %}

            {% endfor %}

            <!-- prev -->
            {% if currentPage >= pageAmt %}
            <li class="page-item disabled">
            {% else %}
            <li class="page-item">
            {% endif %}
                <a class="page-link" href="?page={{ currentPage+1 }}">Next</a>
            </li>

        </ul>
    </nav>


{% endblock %}
