{% extends 'template.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="assets/css/news.css">
{% endblock %}

{% block content %}
    <div class="row">
        <div id="indexCaroussel" class="carousel slide col-sm-10 offset-sm-1" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#indexCaroussel" data-slide-to="0" class="active"></li>
                <li data-target="#indexCaroussel" data-slide-to="1"></li>
                <li data-target="#indexCaroussel" data-slide-to="2"></li>
                <li data-target="#indexCaroussel" data-slide-to="3"></li>
            </ol>

            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="assets/img/index1.jpg" alt="First slide">
                    <div class="carousel-caption d-none d-md-block">
                        <p>Graduation ceremony of the first Cohort - October 27th, 2016</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="assets/img/index2.jpg" alt="Second slide">
                    <div class="carousel-caption d-none d-md-block">
                        <p>Applications for the academic year 2017/2018 are now open</p>
                    </div>

                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="assets/img/index3.jpg" alt="Third slide">
                    <div class="carousel-caption d-none d-md-block">
                        <p>PAUWES First Career Days – September 21st-29th</p>
                    </div>

                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="assets/img/index4.jpg" alt="Third slide">
                    <div class="carousel-caption d-none d-md-block">
                        <p>PAUWES Entrepreneurship Day. #PAD2017</p>
                    </div>

                </div>
            </div>

            <a class="carousel-control-prev" href="#indexCaroussel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Précédente</span>
            </a>

            <a class="carousel-control-next" href="#indexCaroussel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Suivante</span>
            </a>
        </div>
    </div>


    <!-- chargement des news -->
    {% for new in news %}
        <div class="row indexNewsList">
            <div class="col-sm-10 offset-sm-1 card">
                <div class="card-header">
                    <div class="row">
                        <h4 class="col-sm-10">{{ new.nomEvenement }}</h4>
                        <h4 class="col-sm-2 text-muted newsDate"> {{ new.datePublication }}</h4>
                    </div>
                </div>
                <div class="card-body">
                    <p class="card-text">{{ new.description }}
                    </p>
                    <a href="#" class="offset-sm-10 btn btn-primary">En savoir plus</a>
                </div>
            </div>
        </div>
    {% endfor %}


    <!--Pagination -->
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">

            <!-- next -->
            {% if currentlyPage == 1 %}
            <li class="page-item disabled">
            {% else %}
            <li class="page-item">
            {% endif %}
                <a class="page-link" href="?pageNumber={{ currentlyPage-1 }}">Previous</a>
            </li>

            <!--Pagination Button-->
            {% for i in 1..pageAmt %}

                {% if i == currentPage %}
                    <li class="page-item active"><a class="page-link" href="?page={{ i }}">{{ i }}</a>
                    </li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a>
                    </li>
                {% endif %}

            {% endfor %}

            <!-- prev -->
            {% if currentPage == pageAmt %}
            <li class="page-item disabled">
            {% else %}
            <li class="page-item">
            {% endif %}
                <a class="page-link" href="?page={{ currentPage+1 }}">Next</a>
            </li>

        </ul>
    </nav>


{% endblock %}

{% block javascript %}
    $('.carousel').carousel({
    interval: 4000
    })
{% endblock %}
