{% extends "template.html.twig" %}

{% block content %}

	<h3 class="text-center mt-2">{{ news.nomEvenement }}</h3>
	<div class="col-lg-10 offset-lg-1 col-12 offset-0 mt-5">
		{{ news.description|raw }}
	</div>
	<div class="col-lg-10 offset-lg-1 col-12 offset-0 mt-5 mb-5 text-right">
		Écrit par {{ user.nom }} {{ user.prenom }}, le {{ news.datePublication }}
	</div>

{% endblock %}
