<!doctype html>
<html>
	<head>
		<title>Accueil - Université PanAfricaine - L'Institut des Sciences de l'Eau et de l'Energie</title>
		<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
		<link rel="stylesheet" href="/assets/css/bootstrap-grid.min.css">
		<link rel="stylesheet" href="/assets/css/bootstrap-reboot.min.css">
		<link rel="stylesheet" href="/assets/css/tether.min.css">
		<link rel="stylesheet" href="/assets/css/tether-theme-arrows-dark.min.css">
		<link rel="stylesheet" href="/assets/css/tether-theme-basic.min.min.css">
		<link rel="stylesheet" href="/assets/css/base.css">
		<link rel="stylesheet" href="/assets/css/news.css">
		
		{% block stylesheets %}
		{% endblock %}
	</head>

	<body>
<div class="container back">
	<!-- logo -->

	<div class="row">
		<div class="col-md-3">

			<img src="/assets/img/logo.png"  class="img-fluid" alt="Responsive image">

		</div>
		<div class="offset-5 col-3">
			{{ form | raw }}
		</div>
	</div>

	<!-- navbar principale -->
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarToggler">
			<ul class="navbar-nav m-auto">
				{{ include('menuitem.html.twig', {'text': "Accueil", 'href': 'index.php', 'active': (page == "news") }) }}
				{{ include('menuitem.html.twig', {'text': "Programmes d'études", 'href': '/staticpage.php?page=programme', 'active': (page == "programme") }) }}
				{{ include('menuitem.html.twig', {'text': "Inscription", 'href': '/staticpage.php?page=admission', 'active': (page == "admission") }) }}
				{{ include('menuitem.html.twig', {'text': "Bourses d'études", 'href': '/staticpage.php?page=boursesetudes', 'active': (page == "boursesetudes") }) }}
				{{ include('menuitem.html.twig', {'text': "Corps professoral", 'href': '/staticpage.php?page=corpsprof', 'active': (page == "corpsprof") }) }}
				{{ include('menuitem.html.twig', {'text': "Vie sur le campus", 'href': '/staticpage.php?page=viecampus', 'active': (page == "viecampus") }) }}
				{{ include('menuitem.html.twig', {'text': "À propos", 'href': '/staticpage.php?page=about', 'active': (page == "about") }) }}
			</ul>
		</div>
	</nav>

	<div id="site-content" class="row">
		<div class="col-sm-12">
		{% block content %}
		{% endblock %}
		</div>
	</div>
</div>

		<!--
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/tether.min.js"></script>
		<script src="assets/js/bootstrap.min.js"></script>
		<script src="assets/js/bootstrap.bundle.min.js"></script>
		-->

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
		<script>
			{% block javascript %}
			{% endblock %}
		</script>
	</body>
</html>
