<a class="menuicon row col-lg-3 col-12 p-3 m-0 mt-lg-2 mt-3 ml-lg-2 d-flex"
   style="background: {{ bgcolor }}; text-decoration: none; color: white" href="{{ url }}">
    <img src="{{ img }}" alt="{{ text }}" class="col-md-1 col-lg-3 col-2 p-0">
    <span class="pl-1 d-flex flex-column justify-content-center pr-0 col-9">{{ text }}</span>
</a>
