<a class="col-3 text-center d-flex align-items-center justify-content-center" style="background: {{ bgcolor }}" href="{{ url }}">
	<img src="{{ img }}" alt="{{ text }}">
	<span>{{ text }}</span>
</a>
