<a class="menuicon row col-lg-3 col-12 p-3 m-0 mt-lg-0 mt-3 d-flex justify-content-center decoration-cards" style="background: {{ bgcolor }}; text-decoration: none; color: white" href="{{ url }}">
        <img src="{{ img }}" alt="{{ text }}">
        <span class="pl-1 d-flex flex-column justify-content-center text-center">{{ text }}</span>
</a>
