<div class="col-4 menuicon">
	<div class="row h-75">
		<a class="col-8 offset-2 text-center" style="background: {{ bgcolor }}" href="{{ url }}">
			<img src="{{ img }}" alt="{{ text }}">
			<span>{{ text }}</span>
		</a>
	</div>
</div>
