{% extends 'template.html.twig' %}

 {% block stylesheets %}
     <link href="https://cdn.quilljs.com/1.3.4/quill.snow.css" rel="stylesheet">
     <link href="/assets/css/editnews.css" rel="stylesheet">
 {% endblock %}

{% block content %}
    <div id="backRolling" >
        <img src="/assets/img/rolling.gif" alt="Responsive image" class="img-fluid"
             id="changeRolling">
    </div>
        <h1>Ajouter une news</h1>
    <div class="nav bg-light nav-pills p-2" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" id="v-pills-add-tab" data-toggle="pill" href="#v-pills-add" role="tab"
           aria-controls="v-pills-add" aria-selected="true">Ajouter</a>
        <a class="nav-link" id="v-pills-modified-tab" data-toggle="pill" href="#v-pills-modified" role="tab"
           aria-controls="v-pills-modified" aria-selected="false">Modifier</a>
    </div>
    <!-- ajout -->
    <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-add" role="tabpanel" aria-labelledby="v-pills-add-tab">
            {% if success==true %}
                <h2 class="bg-success">News postée</h2>
            {% elseif success!=null %}
                <h2 class="bg-warning">Un problème est survenue</h2>
            {% endif %}
            <form class="container-fluid col-12 col-md-8 m-auto  flex-column pb-5 pt-5 " id="addNews"
                  action="/perso/newsmanager.php" method="post">
                <div class="input-group mb-2">
                    <span class="input-group-addon" id="basic-addon1">Titre</span>

                    <input name="titre" id="titre" type="text" class="form-control" placeholder="Titre"
                           aria-label="Titre"
                           aria-describedby="basic-addon1">
                </div>

                <!--bbcode editor-->
                <div class="col-12 warning" id="editor" style="min-height: 200px">
                </div>

                <p class="text-warning add d-none">Veuillez remplir tous les champs obligatoires</p>
                <input id="description" name="description" value="" hidden>
                <button type="submit" class="btn btn-primary col-5 col-lg-3 mt-3 ">Ajouter</button>
            </form>
        </div>

        <!-- modification -->
        <div class="tab-pane fade" id="v-pills-modified" role="tabpanel" aria-labelledby="v-pills-modified-tab">
            <div class="d-flex align-items-center mt-2">
                <div class="col-lg-4 col-5 p-0">
                    <select class="custom-select" name="selectName" id="selectName">
                    </select>
                </div>

                <!-- button delete -->
                <div class="d-flex align-items-center flex-row-reverse offset-lg-2 col-lg-6 offset-0 col-7 p-0">
                    <button type="submit" id="removeNews" class="btn btn-danger col-8 col-lg-4">supprimer</button>
                    <div class="col-lg-2 col-md-2 col-3 p-lg-4">
                        <img src="../../assets/img/rolling.gif" alt="Responsive image" class="img-fluid"
                             id="deleteRolling"
                             style="visibility: hidden">
                    </div>
                </div>
            </div>
            <form class="container-fluid col-12 col-md-8 m-auto flex-column pb-5 pt-5" id="sendNews">
                <div class="input-group mb-2">
                    <span class="input-group-addon" id="basic-addon1">Titre</span>

                    <input name="modifTitre" id="modifTitre" type="text" class="form-control" placeholder="Titre"
                           aria-label="Titre"
                           aria-describedby="basic-addon1">
                </div>

                <!--bbcode editor-->
                <div class="col-12 warning-mod" id="modifNews" style="min-height: 200px">
                </div>

                <p class="text-warning mod d-none">Veuillez remplir tous les champs obligatoires</p>
                <input id="descriptionModified" name="descriptionModified" value="" hidden>
                <div class="d-flex align-items-center mt-3">
                    <button type="submit" class="btn btn-primary col-5 col-lg-3">Modifier</button>
                    <div class="col-lg-1 col-2">
                        <img src="../../assets/img/rolling.gif" alt="Responsive image" class="img-fluid"
                             id="rolling"
                             style="visibility: hidden">
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block lnkjavascript %}
    <script src="https://cdn.quilljs.com/1.3.4/quill.js"></script>
    <script src="/assets/js/image-resize.min.js"></script>
    <script>
        $(document).ready(function () {
            var valueSelected = {{ firstNews.IdNews }};
            var toolbarOptions = [[{'font': []}], [{'size': ['small', false, 'large', 'huge']}], [{'align': []}, {'list': 'ordered'}, {'list': 'bullet'}], ['bold', 'italic', 'underline', 'strike'], [{'color': []}], ['link', 'image'], ['clean']];
            var quill = new Quill('#editor', {
                theme: 'snow',
                modules: {
                    imageResize: {modules: ['Resize']},
                    toolbar: toolbarOptions
                }
            });
            var modifiedNews = new Quill('#modifNews', {
                theme: 'snow',
                modules: {
                    imageResize: {modules: ['Resize']},
                    toolbar: toolbarOptions
                }
            });

            //Première news pour modification
            modifiedNews.setContents({{ firstNews.Description | raw }});
            $('#modifTitre').val("{{ firstNews.NomEvenement }}");

            {% for name in newsNames %}
            $("#selectName").append(new Option("{{ name['nomEvenement'] }}", {{ name['idNews'] }}));
            {% endfor %}


            $('#selectName').change(function () {
                $("#backRolling").css("visibility", "visible");
                $("#rolling").css("visibility", "hidden");
                valueSelected = $("#selectName")[0].value;
                var request = $.ajax({
                    url: "/api/getnews.php",
                    method: "GET",
                    data: {idNews: valueSelected},
                    contentType: "application/json; charset=utf-8"
                });

                request.done(function (res) {
                    modifiedNews.setContents(JSON.parse(res.description));
                    $('#modifTitre').val(res.title);
                    $("#backRolling").css("visibility", "hidden");

                });

                request.fail(function () {
                    alert("Erreur");
                    $("#backRolling").css("visibility", "hidden");
                });
            });


            document.forms["sendNews"].onsubmit = function () {
                send = true;
                title = warningTitle($('#modifTitre'), $('.mod'));
                description = warningDescripition(modifiedNews, $('.warning-mod'), $('.mod'));
                send = title && description;
                if (send != false) {
                    $("#rolling").prop("src", "../../assets/img/rolling.gif");
                    $("#rolling").css("visibility", "visible");
                    $("button").prop('disabled', true);

                    varToSendModified = modifiedNews.getContents();
                    varToSendModified = JSON.stringify(varToSendModified);
                    $("#descriptionModified").attr("value", varToSendModified);


                    var requestModified = $.ajax({
                        url: "/api/updatenews.php",
                        method: "POST",
                        data: {idNews: valueSelected, description: varToSendModified, title: $("#modifTitre")[0].value},
                    });

                    requestModified.done(function () {

                        $("#rolling").prop("src", "../../assets/img/check.png");
                        $("button").prop('disabled', false);
                        //Permet de mettre a jour le nom de la news dans le select
                        $("option[value~='" + valueSelected + "']").text($("#modifTitre")[0].value);

                    });

                    requestModified.fail(function () {
                        $("#rolling").prop("src", "../../assets/img/wrong.png");
                        $("#rolling").css("visibility", "visible");
                        $("button").prop('disabled', false);
                    });
                }
                return false;
            };
            document.forms["addNews"].onsubmit = function () {
                send = true;
                title = warningTitle($('#titre'), $('.add'));
                description = warningDescripition(quill, $('.warning'), $('.add'));
                send = title && description;
                if (send != false) {
                    //récuperation du contenue
                    varToSend = quill.getContents();
                    varToSend = JSON.stringify(varToSend);

                    //modification de se que l'on envoie
                    $("#description").attr("value", varToSend);
                }
                return send;
            };

            $("#removeNews").click(function () {
                $("#deleteRolling").css("visibility", "visible");
                $("button").prop('disabled', true);
                var requestDelete = $.ajax({
                    url: "/api/deletenews.php",
                    method: "POST",
                    data: {idNews: valueSelected},
                });

                requestDelete.done(function () {
                    $("button").prop('disabled', false);
                    $("#deleteRolling").css("visibility", "hidden");

                    //suppression de la new des options du select
                    $("option[value~='" + valueSelected + "']").remove();

                    //update
                    $('#selectName').change();
                });

                requestDelete.fail(function () {
                    $("#deleteRolling").prop("src", "../../assets/img/wrong.png");
                    $("#deleteRolling").css("visibility", "visible");
                    $("button").prop('disabled', false);
                })
            });

        });


        function warningDescripition(quill, warningClass, textWarning) {
            if (quill.getLength() == 1) {
                warningClass.addClass("border border-warning p-2 ");
                textWarning.addClass("d-block p-1");
                return false;
            } else {
                warningClass.removeClass("border border-warning p-2");
                return true
            }
        }

        function warningTitle(warningClass, textWarning) {
            if (warningClass.val() == "") {
                warningClass.addClass("border border-warning p-2");
                textWarning.addClass("d-block p-1");
                return false;
            } else {
                warningClass.removeClass("border border-warning p-2");
                return true;
            }

        }


    </script>
{% endblock %}