{% extends 'template.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="/assets/css/perso.index.css">
{% endblock %}

{% block content %}
	{% if (usertype == 0) %}
		<h3 class="text-center m-0 pb-0 pt-3"> __perso.student.studentHome__ </h3>
		<div class="d-flex align-content-center justify-content-around flex-wrap h-100">

			{{ include('perso/card.html.twig', { 'bgcolor': "#3c4a59", 'img': "/assets/img/notes.png", 'text': "__perso.student.myMarks__", "url": "/perso/notes.php"}) }}
			{{ include('perso/card.html.twig', { 'bgcolor': "#455556", 'img': "/assets/img/absences.png", 'text': "__perso.student.myAbsences__", "url": "/perso/absences.php"}) }}
			{{ include('perso/card.html.twig', { 'bgcolor': "#404040", 'img': "/assets/img/edt.png", 'text': "__perso.student.mySchedule__", "url": "/perso/edt.php"}) }}

		</div>

	{% elseif (usertype == 1) %}
		<h3 class="text-center m-0 pb-0 pt-3"> __perso.teacher.teacherHome__ </h3>
		<div class="d-flex align-content-center justify-content-around flex-wrap h-100">
			{{ include('perso/card.html.twig', {'bgcolor': "#3c4a59", 'img': "/assets/img/notes.png", 'text': "__perso.teacher.insertMarks__", 'url': "/perso/notemanager.php"})}}
			{{ include('perso/card.html.twig', {'bgcolor': "#455556", 'img': "/assets/img/absences.png", 'text': "__perso.teach.absencesManagement__", 'url': "/perso/absencesmanager.php"})}}
			{{ include('perso/card.html.twig', {'bgcolor': "#404040", 'img': "/assets/img/edt.png", 'text': "__perso.teacher.mySchedule__", 'url': "/perso/edt.php"})}}
		</div>
	{% elseif (usertype == 2) %}
		<h3 class="text-center m-0 pb-0 pt-3">__perso.administration.administrationHome__</h3>
		<div class="d-flex align-content-center justify-content-around flex-wrap h-100">
			{{ include('perso/card.html.twig', {'bgcolor': "#3c4a59", 'img': "/assets/img/groupes.png", 'text': "__perso.administration.groups__", 'url': "/perso/groupemanager.php"})}}
			{{ include('perso/card.html.twig', {'bgcolor': "#455556", 'img': "/assets/img/absences.png", 'text': "__perso.administration.absences__", 'url': "/perso/absencesmanager.php"})}}
			{{ include('perso/card.html.twig', {'bgcolor': "#404040", 'img': "/assets/img/edt.png", 'text': "__perso.administration.lessons__", 'url': "/perso/coursmanager.php"})}}
		</div>
		<div class="d-flex align-content-center justify-content-around flex-wrap h-100">
			{{ include('perso/card.html.twig', {'bgcolor': "#707070", 'img': "/assets/img/newspaper.png", 'text': "__perso.administration.news__", 'url': "/perso/newsmanager.php"})}}
			{{ include('perso/card.html.twig', {'bgcolor': "#5c6a79", 'img': "/assets/img/notebook.png", 'text': "__perso.administration.formationManagement__", 'url': "/perso/formationmanager.php"})}}
			{{ include('perso/card.html.twig', {'bgcolor': "#344546", 'img': "/assets/img/ajetud.png", 'text': "__perso.administration.studentManagement__", 'url': "/perso/etudiant.php"})}}
		</div>
	{% else %}
		Une erreur est survenue !
	{% endif %}
{% endblock %}
