<div class="mt-2 row">
	<span class="col-5 d-block">{{ rowname }}</span>
	<span id="{{ idname }}-span" class="text-center col-7 d-block"></span>
	<input id="{{ idname }}-field" class="col-7 d-none" type="text">
</div>
<div id="{{idname}}Validate-span" class="mt-1 flex-row d-none justify-content-center">
	<i data-feather="x" class="text-danger"></i>
	<span class="text-danger ml-2">{{ error }}</span>
</div>

